<p class="pl-3 pr-3">Licensed in BOTH Missouri & Kansas, Elite Realty can help all your buying/selling needs in both states!</p>

<p class="pl-3 pr-3">Educational Designations include CRS, ABR, GRI, SFR, SRS, MRE and ePro. We are members of the National Association of REALTORS®, Missouri Association of REALTORS® and the Kansas City Association of REALTORS®. Our Broker, Agent Jo, holds all these designations, in addition to serving on state committees including serving as a Missouri State Director.</p>

<p class="pl-3 pr-3">We have invested a lot to know how best to serve the community with excellence. Please call one of our Amazing Agents
    today!</p>

<ul>
    <li>Agent Jo – 816.617.4412</li>
    <li>Sam – 816.344.8868</li>
    <li>Tyson – 816.262.1905</li>
    <li>Nathan – 816.200.7475</li>
    <li>Priya – 816.259.5478</li>
</ul>